.card-and-button {
    width: 800px;
    position: relative;
    left: calc(50% - 800px / 2);
    border-radius: 3px;
    padding: 10px;
    margin: 20px 0;
    background-color: #EAF2D7;
}
.card {
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .info {
    width: 570px;
    margin-left: 20px;
}
.card .info > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card input {
    width: 400px;
    height: 30px;
}
.card textarea {
    width: 400px;
    height: 100px;
    overflow: scroll;
    resize: none;

}
.card img {
    width: 180px;
}
.card .button {
    left: 583px;
    position: relative;
}
.name-price, .url-value, .description-value, .name-value {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
}
