.card-and-button {
    width: 800px;
    position: relative;
    left: calc(50% - 800px / 2);
}
.card {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .info {
    width: 570px;
    margin-left: 20px;
}
.card .info > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 400px;
    height: 30px;
}
textarea {
    width: 400px;
    height: 100px;
    overflow: scroll;
    resize: none;

}
img {
    width: 180px;
}
.button {
    left: 583px;
    position: relative;
}
