* {
    font-family: Roboto, serif;
}
body {
    margin: 0
}
.common-container {
    height: 100%;
    background-color: #EAF2D7;
}
.common-container .header {
    height: 60px;
    background-color: #E27396;
    font-size: 25px;
    line-height: 60px;
    padding-left: 20px
}
.common-container .body {
    height: calc(100% - 60px);
}
