* {
    font-family: Roboto, serif;
}
body {
    margin: 0
}
.common-container {
    height: auto;
}
.common-container .header {
    height: 60px;
    background-color: #E27396;
    font-size: 25px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-container .body {
    height: auto;
    min-height: 100%;
}

.button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
.button-blue {
    background-color: #B3DEE2;
}
.button-pink {
    background-color: #EFCFE3;
}
.right-button {
    margin-left: 10px;
}
.button.button-thin {
    height: 45px;
}
